<table class="table text-center table-striped"
       {% if bootstrap_table == true %}
       data-toggle="table" data-toolbar="#toolbar"
       data-locale="fr-FR"
       data-classes="table-no-bordered"
       data-search="true"
       data-sortable="true"
       data-sort-name="['lastname', 'firstname', 'status', 'company']"
       data-show-refresh="true"
       data-show-toggle="false"
       data-show-columns="true"
       data-minimum-count-columns="2"
       data-pagination="true"
       data-id-field="id"
       data-page-size="100"
       data-page-list="[50, 100, 200, 500, TOUS]"
       data-show-footer="false"
       {% endif %}
>

    <thead>
        <tr>
            <th class="text-center hidden-sm hidden-xs">#</th>
            <th class="text-center" data-field="tenant" data-sortable="true">{{ trans_choice('global.tenant.title', 1) }}</th>
            <th class="text-center" data-field="flat" data-sortable="true">{{ trans_choice('global.flat.title', 1) }}</th>
            <th class="text-center hidden-sm hidden-xs" data-field="start_date" data-sortable="true">{{ trans('global.contract.start_date') }}</th>
            <th class="text-center hidden-xs" data-field="end_date" data-sortable="true">{{ trans('global.contract.end_date') }}</th>
            <th class="text-center" data-field="price" data-sortable="true">{{ trans('global.flat.price') }}</th>
            <th class="text-center hidden-sm hidden-xs" data-field="mode_of_payment" data-sortable="true">{{ trans('global.contract.mode_of_payment') }}</th>
            <th class="text-center">{{ trans_choice('global.lbl.actions', 2) }}</th>
        </tr>
    </thead>

    <tbody>

        {% for contract in contracts if contracts is not empty %}

            <tr {% if contract.option == 1 %}class="warning"{% endif %}>
                <td class="hidden-sm hidden-xs">{{ loop.index }}</td>
                <td>{% if contract.option == 1 %}<span class="glyphicon glyphicon-star"></span> {% endif %}{{ contract.tenant.full_name }}</td>
                <td>{{ contract.flat.name }}</td>
                <td class="hidden-sm hidden-xs">{% if contract.start_date != '0000-00-00' %}<span style="display:none">{{ contract.start_date | date ('Ymd') }}</span>{{ contract.start_date | date ('d/m/Y') }}{% endif %}</td>
                <td class="hidden-xs">{% if contract.end_date != '0000-00-00' %}<span style="display:none">{{ contract.end_date | date ('Ymd') }}</span>{{ contract.end_date | date ('d/m/Y') }}{% endif %}</td>
                <td>{{ contract.full_price }}</td>
                <td class="hidden-sm hidden-xs">{{ contract.mode_of_payment }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="{{ route('residence.contract.show', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.show') }}</a>
                        <a href="{{ route('residence.contract.edit', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.edit') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.edit') }}</a>
                        <a href="javascript:void(0)" title="{{ trans('global.lbl.delete') }}" data-toggle="modal" data-target="#modal_destroy{{ contract.id }}" class="btn btn-xs btn-danger hidden-xs">{{ trans('global.lbl.delete') }}</a>
                    </div>

                    {# modal suppression #}
                    <div class="modal fade" id="modal_destroy{{ contract.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{ trans('global.contract.delete') }}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{ trans('global.contract.destroy') }} <strong>{{ contract.flat.full_name }}</strong> ?</p>
                                </div>

                                <div class="modal-footer">
                                    {{ form_open({'method' : 'delete', 'route' : ['residence.contract.destroy', residence.id, contract.id]}) }}
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('global.lbl.close') }}</button>
                                    {{ form_submit(trans('global.lbl.delete'), {'class' : 'btn btn-danger'}) }}
                                    {{ form_close() }}
                                </div>

                            </div>
                        </div>
                    </div>
                    {# fin modal suppression #}

                </td>
            </tr>

        {% else %}

            {% if bootstrap_table == false %}
                <tr>
                    <td colspan="8" class="text-danger">{{ trans('global.contract.empty') }}</td>
                </tr>
            {% endif %}

        {% endfor %}

    </tbody>

</table>