{% extends "layouts.app" %}

{% block breadcrumb %}

    <li class="active">{{ trans_choice('global.flat.title', 2) }}</li>

{% endblock %}

{% block content %}

    <a href="{{ route('residence.flat.create', [residence.id]) }}" title="{{ trans('global.flat.add') }}" class="btn btn-success pull-left">{{ trans('global.flat.add') }}</a>

    <table class="table table-condensed text-center table-striped" data-toggle="table" data-toolbar="#toolbar"
           data-locale="fr-FR"
           data-classes="table-no-bordered"
           data-search="true"
           data-sortable="true"
           data-sort-name="['lastname', 'firstname', 'status', 'company']"
           data-show-refresh="true"
           data-show-toggle="false"
           data-show-columns="true"
           data-minimum-count-columns="2"
           data-pagination="true"
           data-id-field="id"
           data-page-size="100"
           data-page-list="[50, 100, 200, 500, TOUS]"
           data-show-footer="false">

        <thead>
            <tr>
                <th class="text-center hidden-sm hidden-xs" data-field="block" data-sortable="true">{{ trans('global.flat.block') }}</th>
                <th class="text-center hidden-sm hidden-xs" data-field="floor" data-sortable="true">{{ trans('global.flat.floor') }}</th>
                <th class="text-center" data-field="num" data-sortable="true">{{ trans('global.lbl.num') }}</th>
                <th class="text-center hidden-xs" data-field="area" data-sortable="true">{{ trans('global.flat.area') }}</th>
                <th class="text-center" data-field="price" data-sortable="true">{{ trans('global.flat.price') }}</th>
                <th class="text-center hidden-sm hidden-xs" data-field="view" data-sortable="true">{{ trans('global.flat.view') }}</th>
                <th class="text-center" data-field="contract" data-sortable="true">{{ trans_choice('global.tenant.title', 1) }}</th>
                <th class="text-center visible-lg">{{ trans('global.tenant.status') }}</th>
                <th class="text-center">{{ trans('global.contract.deadline') }}</th>
                <th class="text-center">{{ trans_choice('global.lbl.actions', 2) }}</th>
            </tr>
        </thead>

        <tbody>

            {% for flat in flats %}

                <tr {% if (flat.contract.id is empty and flat.next_contract.id is empty) or (flat.contract.end_date != '0000-00-00' and flat.next_contract.id is empty) %}class="danger"{% endif %}>
                    <td class="hidden-sm hidden-xs">{{ flat.block }}</td>
                    <td class="hidden-sm hidden-xs">{{ flat.floor }}</td>
                    <td>{{ flat.name }}</td>
                    <td class="hidden-xs">{{ flat.full_area }}</td>
                    <td>{{ flat.full_price }}</td>
                    <td class="hidden-sm hidden-xs">{{ flat.view | capitalize }}</td>
                    <td>
                        {% if flat.contract.tenant.id is not empty %}<a href="{{ route('residence.tenant.show', [residence.id, flat.contract.tenant.id]) }}" title="{{ flat.contract.tenant.full_name }}">{{ flat.contract.tenant.full_name }}</a>
                        {% elseif flat.next_contract.tenant.id is not empty %}<a href="{{ route('residence.tenant.show', [residence.id, flat.next_contract.tenant.id]) }}" title="{{ flat.next_contract.tenant.full_name }}" class="text-warning">{{ flat.next_contract.tenant.full_name }}</a>{% endif %}
                    </td>
                    <td class="hidden-sm visible-lg">{% if flat.contract.tenant.contract is not empty %}{{ flat.contract.tenant.contract }}{% elseif flat.next_contract.tenant.contract is not empty%}<span class="text-warning">{{ flat.next_contract.tenant.contract }}</span>{% endif %}</td>
                    <td>
                        {% if flat.contract.id is not empty and flat.contract.end_date != '0000-00-00' %}<a href="{{ route('residence.contract.show', [residence.id, flat.contract.id]) }}" class="label label-danger" style="text-decoration: none">{{ trans('global.flat.end') }} {{ flat.contract.end_date | date('d/m/y') }}</a>{% endif %}
                        {% if flat.next_contract.id is not empty %}<a href="{{ route('residence.contract.show', [residence.id, flat.next_contract.id]) }}" class="label label-success" style="text-decoration: none">{{ trans('global.flat.relet') }} {{ flat.next_contract.start_date | date('d/m/y') }}</a>{% endif %}
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            {% if flat.contract.id is not empty %}<a href="{{ route('residence.contract.show', [residence.id, flat.contract.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default">{{ trans_choice('global.contract.title', 1) }}</a>{% endif %}
                            <a href="{{ route('residence.flat.show', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default">{{ trans_choice('global.flat.title', 1) }}</a>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}