{% extends "layouts.app" %}

{% set nb_empty_flats_relet = 0 %}
{% set nb_empty_flats_not_relet = 0 %}

{% block breadcrumb %}

    <li class="active">{{ trans('global.app.dashboard') }}</li>

{% endblock %}

{% block content %}

    <div class="row text-center" style="margin-bottom: 40px">



        <div class="col-sm-4">
            <h4>{{ trans_choice('global.flat.title', 2) }}</h4>
            <canvas id="flat_chart" height="200"></canvas>

        </div>

        <div class="col-sm-4">
            <h4>{{ trans_choice('global.tenant.title', 2) }}</h4>
            <canvas id="tenant_chart" height="200"></canvas>

        </div>

        <div class="col-sm-4">
            <h4>{{ trans_choice('global.contract.title', 2) }}</h4>
            <canvas id="contract_chart" height="200"></canvas>

        </div>

    </div>

    {% if tenants_birthday is not empty %}
        <div class="row">
            <div class="col-sm-12">

                <h4 class="title-event">{{ trans('global.lbl.birthday') }}</h4>
                <div class="alert alert-event text-left">

                    {% for tenant in tenants_birthday %}

                        <span class="glyphicon glyphicon-gift"></span> <a href="{{ route('residence.tenant.show', [residence.id, tenant.id]) }}" title="{{ tenant.full_name }}" style="color: #fff">{{ tenant.full_name }}</a> <small><em>({{ tenant.full_age }} {{ trans('global.lbl.the') }} {{ tenant.birth_date | date('d/m') }})</em></small>

                    {% endfor %}

                </div>

            </div>
        </div>
    {% endif %}

    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">{{ trans_choice('global.flat.title', 2) }} {{ trans_choice('global.flat.empty_not_relet', 2) | lower }}</div>

                {# logements vides non reloues #}
                <table class="table text-center">

                    {% if free_flats_not_relet is not empty %}

                        <thead>
                            <tr>
                                <th class="text-center hidden-sm">#</th>
                                <th class="text-center">{{ trans('global.lbl.num') }}</th>
                                <th class="text-center">{{ trans('global.flat.price') }}</th>
                                <th class="text-center hidden-sm">{{ trans('global.flat.area') }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                    {% endif %}

                    {% for flat in free_flats_not_relet %}

                        <tr>
                            <td class="hidden-sm">{{ loop.index }}</td>
                            <td>{{ flat.name }}</td>
                            <td>{{ flat.full_price }}</td>
                            <td class="hidden-sm">{{ flat.full_area }}</td>
                            <td>
                                <a href="{{ route('residence.flat.show', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default pull-right">{{ trans('global.lbl.show') }}</a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-success">{{ trans('global.flat.no_empty') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">{{ trans_choice('global.flat.title', 2) }} {{ trans_choice('global.flat.full_not_relet', 2) | lower }}</div>

                {# logements occupés avec préavis non reloués #}
                <table class="table text-center">

                    {% if warning_flats_not_relet is not empty %}

                        <thead>
                            <tr>
                                <th class="text-center hidden-sm">#</th>
                                <th class="text-center">{{ trans('global.lbl.num') }}</th>
                                <th class="text-center">{{ trans('global.flat.price') }}</th>
                                <th class="text-center hidden-sm">{{ trans('global.contract.deadline') }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                    {% endif %}

                    {% for flat in warning_flats_not_relet %}

                        <tr>
                            <td class="hidden-sm">{{ loop.index }}</td>
                            <td>{{ flat.name }}</td>
                            <td>{{ flat.full_price }}</td>
                            <td class="hidden-sm"><a href="{{ route('residence.contract.show', [residence.id, flat.contract.id]) }}" class="label label-danger" style="text-decoration: none">{{ trans('global.flat.end') }} {{ flat.contract.end_date | date('d/m/y') }}</a></td>
                            <td>
                                <a href="{{ route('residence.flat.show', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default pull-right">{{ trans('global.lbl.show') }}</a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-success">{{ trans('global.flat.no_warning_not_relet') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">{{ trans_choice('global.flat.title', 2) }} {{ trans_choice('global.flat.empty_relet', 2) | lower }}</div>

                {# logements vides reloués #}
                <table class="table text-center">

                    {% if free_flats_relet is not empty %}

                        <thead>
                            <tr>
                                <th class="text-center hidden-sm">#</th>
                                <th class="text-center">{{ trans('global.lbl.num') }}</th>
                                <th class="text-center hidden-sm">{{ trans('global.flat.price') }}</th>
                                <th class="text-center">{{ trans('global.contract.deadline') }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                    {% endif %}

                    {% for flat in free_flats_relet %}

                        <tr>
                            <td class="hidden-sm">{{ loop.index }}</td>
                            <td>{{ flat.name }}</td>
                            <td class="hidden-sm">{{ flat.full_price }}</td>
                            <td>
                                <a href="{{ route('residence.contract.show', [residence.id, flat.next_contract.id]) }}" class="label label-success" style="text-decoration: none">{{ trans('global.flat.relet') }} {{ flat.next_contract.start_date | date('d/m/y') }}</a>
                            </td>
                            <td>
                                <a href="{{ route('residence.flat.show', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default pull-right">{{ trans('global.lbl.show') }}</a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-danger">{{ trans('global.flat.no_relet') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading">{{ trans_choice('global.contract.book', 2) }}</div>

                {# contrats pré-réservés #}
                <table class="table text-center">

                    {% if booked_contracts is not empty %}

                        <thead>
                            <tr>
                                <th class="text-center hidden-sm">#</th>
                                <th class="text-center">{{ trans_choice('global.flat.title', 1) }}</th>
                                <th class="text-center hidden-sm">{{ trans_choice('global.tenant.title', 1) }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                    {% endif %}

                    {% for contract in booked_contracts if booked_contracts is not empty%}

                        <tr>
                            <td class="hidden-sm">{{ loop.index }}</td>
                            <td><a href="{{ route('residence.flat.show', [residence.id, contract.flat.id]) }}" title="{{ contract.flat.name }}">{{ contract.flat.name }}</a></td>
                            <td class="hidden-sm"><a href="{{ route('residence.tenant.show', [residence.id, contract.tenant.id]) }}" title="{{ contract.tenant.full_name }}">{{ contract.tenant.full_name }}</a></td>
                            <td>
                                <a href="{{ route('residence.contract.show', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default pull-right">{{ trans('global.lbl.show') }}</a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-success">{{ trans('global.contract.no_booked') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">{{ trans_choice('global.contract.incomplete', 2) }}</div>

                {# contrats incomplets #}
                <table class="table text-center">

                    {% if incomplete_contracts is not empty  %}

                        <thead>
                            <tr>
                                <th class="text-center hidden-sm">#</th>
                                <th class="text-center">{{ trans_choice('global.flat.title', 1) }}</th>
                                <th class="text-center hidden-sm">{{ trans_choice('global.tenant.title', 1) }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                    {% endif %}

                    {% for contract in incomplete_contracts if incomplete_contracts is not empty%}

                        <tr>
                            <td class="hidden-sm">{{ loop.index }}</td>
                            <td><a href="{{ route('residence.flat.show', [residence.id, contract.flat.id]) }}" title="{{ contract.flat.name }}">{{ contract.flat.name }}</a></td>
                            <td class="hidden-sm"><a href="{{ route('residence.tenant.show', [residence.id, contract.tenant.id]) }}" title="{{ contract.tenant.full_name }}">{{ contract.tenant.full_name }}</a></td>
                            <td>
                                <a href="{{ route('residence.contract.show', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default pull-right">{{ trans('global.lbl.show') }}</a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-success">{{ trans('global.contract.all_complete') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>

        <script>
            var ctx = document.getElementById("flat_chart");
            var ctx2 = document.getElementById("contract_chart");
            var ctx3 = document.getElementById("tenant_chart");

            var data_flats = {
                labels: [
                    "{{ trans('global.flat.full') }}",
                    "{{ trans_choice('global.flat.full_not_relet', 2) }}",
                    "{{ trans_choice('global.flat.empty_not_relet', 2) }}",
                    "{{ trans_choice('global.flat.empty_relet', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_occupied_flats }}, {{ warning_flats_not_relet | length }}, {{ free_flats_not_relet | length }}, {{ free_flats_relet | length }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#FF5347",
                            "#BF0526",
                            "#FFCF00"
                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#FF5347",
                            "#BF0526",
                            "#FFCF00"
                        ]
                    }]
            };

            var data_contracts = {
                labels: [
                    "{{ trans('global.contract.complete') }}",
                    "{{ trans_choice('global.contract.incomplete', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_complete_contracts }}, {{ incomplete_contracts | length }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#FF5347"

                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#FF5347"
                        ]
                    }]
            };

            var data_tenants = {
                labels: [
                    "{{ trans_choice('global.tenant.new', 2) }}",
                    "{{ trans_choice('global.tenant.old', 2) }}",
                    "{{ trans_choice('global.tenant.passenger', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_new_tenants }}, {{ nb_old_tenants }}, {{ nb_passenger_tenants }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#1F8A70",
                            "#FF5347"
                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#1F8A70",
                            "#FF5347"
                        ]
                    }]
            };

            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: data_flats,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

            var myPieChart = new Chart(ctx2,{
                type: 'pie',
                data: data_contracts,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

            var myPieChart = new Chart(ctx3,{
                type: 'pie',
                data: data_tenants,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

        </script>

{% endblock %}