{% extends "layouts.app" %}

{% block breadcrumb %}

    <li class="active">{{ trans('global.app.dashboard') }}</li>

{% endblock %}

{% block content %}

    <div class="row text-center" style="margin-bottom: 40px">
        <div class="col-sm-4">
            <h4>{{ trans_choice('global.flat.title', 2) }}</h4>
            <canvas id="myChart" ></canvas>

        </div>
        <div class="col-sm-4">
            <h4>{{ trans_choice('global.contract.title', 2) }}</h4>
            <canvas id="myChart2" ></canvas>

        </div>
        <div class="col-sm-4">
            <h4>{{ trans_choice('global.tenant.title', 2) }}</h4>
            <canvas id="myChart3" ></canvas>

        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row">

        <div class="col-sm-7">
            <div class="panel panel-danger">
                <div class="panel-heading">{{ trans_choice('global.flat.empty', 2) }}</div>
                <table class="table text-center">

                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">{{ trans('global.flat.block') }}</th>
                            <th class="text-center">{{ trans('global.flat.floor') }}</th>
                            <th class="text-center">{{ trans('global.lbl.num') }}</th>
                            <th class="text-center">{{ trans('global.flat.area') }}</th>
                            <th class="text-center">{{ trans('global.flat.price') }}</th>
                            <th class="text-center">{{ trans('global.flat.view') }}</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>

                    {% for flat in flats if flats is not empty%}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ flat.block }}</td>
                            <td>{{ flat.floor }}</td>
                            <td>{{ flat.name }}</td>
                            <td>{{ flat.full_area }}</td>
                            <td>{{ flat.full_price }}</td>
                            <td>{{ flat.view | capitalize }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{{ route('residence.flat.show', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.show') }}</a>
                                    <a href="{{ route('residence.flat.edit', [residence.id, flat.id]) }}" title="{{ trans('global.lbl.edit') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.edit') }}</a>
                                </div>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-danger">{{ trans('global.flat.all_full') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-info">
                <div class="panel-heading">{{ trans_choice('global.contract.incomplete', 2) }}</div>
                <table class="table text-center">

                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">{{ trans_choice('global.flat.title', 2) }}</th>
                        <th class="text-center">{{ trans_choice('global.tenant.title', 2) }}</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>

                    {% for contract in contracts if contracts is not empty%}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ contract.flat.full_name }}</td>
                            <td>{{ contract.tenant.full_name }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{{ route('residence.contract.show', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.show') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.show') }}</a>
                                    <a href="{{ route('residence.contract.edit', [residence.id, contract.id]) }}" title="{{ trans('global.lbl.edit') }}" class="btn btn-xs btn-default">{{ trans('global.lbl.edit') }}</a>
                                </div>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="8" class="text-danger">{{ trans('global.contract.all_complete') }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>

        <script>
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var ctx3 = document.getElementById("myChart3");

            var data_flats = {
                labels: [
                    "{{ trans('global.flat.full') }}",
                    "{{ trans_choice('global.flat.empty', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_occupied_flats }}, {{ nb_free_flats }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#FF5347"
                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#FF5347"
                        ]
                    }]
            };

            var data_contracts = {
                labels: [
                    "{{ trans('global.contract.complete') }}",
                    "{{ trans_choice('global.contract.incomplete', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_contracts_without_required_documents }}, {{ nb_contracts_with_required_documents }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#FF5347"

                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#FF5347"
                        ]
                    }]
            };

            var data_tenants = {
                labels: [
                    "{{ trans_choice('global.tenant.new', 2) }}",
                    "{{ trans_choice('global.tenant.old', 2) }}",
                    "{{ trans_choice('global.tenant.passenger', 2) }}"
                ],
                datasets: [
                    {
                        data: [{{ nb_new_tenants }}, {{ nb_old_tenants }}, {{ nb_passenger_tenants }}],
                        backgroundColor: [
                            "#BEDB39",
                            "#1F8A70",
                            "#FF5347"
                        ],
                        hoverBackgroundColor: [
                            "#BEDB39",
                            "#1F8A70",
                            "#FF5347"
                        ]
                    }]
            };

            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: data_flats,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

            var myPieChart = new Chart(ctx2,{
                type: 'pie',
                data: data_contracts,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

            var myPieChart = new Chart(ctx3,{
                type: 'pie',
                data: data_tenants,
                options: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });

        </script>

{% endblock %}