<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>{{ trans('global.app.name') }}</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/bootstrap-table.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-table-fr-FR.js"></script>
        <script type="text/javascript" src="/js/chart.min.js"></script>

        <link rel="icon" sizes="192x192" href="img/logo.png" />

        <link href="img/logo152.png" sizes="152x152" rel="apple-touch-icon-precomposed">
        <link href="img/logo144.png" sizes="144x144" rel="apple-touch-icon-precomposed">
        <link href="img/logo76.png" sizes="76x76" rel="apple-touch-icon-precomposed">
        <link href="img/logo72.png" sizes="72x72" rel="apple-touch-icon-precomposed">
        <link href="img/logo120.png" sizes="120x120" rel="apple-touch-icon-precomposed">
        <link href="img/logo114.png" sizes="114x114" rel="apple-touch-icon-precomposed">
        <link href="img/logo57.png" sizes="57x57" rel="apple-touch-icon-precomposed">

        <meta name="viewport" content="width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <script type="text/javascript">

            $(document).ready(function() {

                $.datetimepicker.setLocale('fr');
                $('.datetimepicker').datetimepicker({
                    timepicker:false,
                    format:'Y-m-d',
                });

            });

        </script>

    </head>

    <body>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">

                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span class="label label-info">{{ trans('global.app.name') }}</span></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            {% if residence.id is not empty %}

                                <li><a href="{{ route('residence.index', residence.id) }}" title="{{ residence.name }}">{{ residence.name }}</a></li>

                            {% endif %}

                            <li {% if controller == 'FlatController' %}class="active"{% endif %}><a href="{{ route('residence.flat.index', residence.id) }}"><span class="glyphicon glyphicon-home"></span> {{ trans_choice('global.flat.title', 2) }}</a></li>
                            <li {% if controller == 'TenantController' %}class="active"{% endif %}><a href="{{ route('residence.tenant.index', residence.id) }}"><span class="glyphicon glyphicon-user"></span> {{ trans_choice('global.tenant.title', 2) }}</a></li>
                            <li {% if controller == 'ContractController' %}class="active"{% endif %}><a href="{{ route('residence.contract.index', residence.id) }}"><span class="glyphicon glyphicon-duplicate"></span> {{ trans_choice('global.contract.title', 2) }}</a></li>

                        </ul>
                    </div>

                </div>

            </div>
        </nav>

        <div class="container">

            {# breadcrumb #}
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </ol>

            {# flash message #}
            {% if session_has('ok') %}
                <div class="alert alert-success">{{ session_get('ok') }}</div>
            {% endif %}

            {% block content %}{% endblock %}

        </div>

    </body>

    <link rel="stylesheet" type="text/css" href="/css/datetimepicker.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/datetimepicker.min.js"></script>

</html>