{% extends "layouts.app" %}

{% block breadcrumb %}

    <li><a href="{{ route('residence.tenant.index', [residence.id]) }}" title="{{ trans_choice('global.tenant.title', 2) }}">{{ trans_choice('global.tenant.title', 2) }}</a></li>
    <li class="active">{{ tenant.full_name }}</li>

{% endblock %}

{% block content %}

    {# si c'est son anniversaire #}
    {% if tenant.birth_date | date('m-d') == 'now' | date('m-d') %}

        <div class="alert alert-success">
            <span class="glyphicon glyphicon-gift"></span> {{ trans('global.tenant.birth_day') }}
        </div>

    {% endif %}

    <div class="row">

        <div class="col-sm-6">

            {% include 'tenant.info.twig' with {'tenant' : tenant} %}

        </div>

        <div class="col-sm-6">

            {% include 'flat.info.twig' with {'flat' : contract.flat} %}

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ trans_choice('global.contract.title', 2) }}</div>

                    {% include 'contract.listing.twig' with {'contracts' : contracts} %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}